@page "/"

<PageTitle>개인정보 활용 동의서</PageTitle>

<div style="border: 2px solid black; padding: 20px; border-radius: 10px;">
    <h2 style="text-align:center">고등학교 이중지원 금지 확인서</h2>
    <br />
    <p>본인은 고등학교 이중지원 금지 원칙(전기학교 1개교만 지원가능)에 따라 타시도 체육고 및 일반고 학교별 체육특기 지원자로 이중지원 하지 않았음을 확인합니다.</p>

    <div style="margin-top: 20px;">
        <input type="checkbox" id="pledgeConsent" name="pledgeConsent" style="accent-color: blue; margin: 8px; width: 18px; height: 18px;">
        <label for="pledgeConsent" style="font-size: 1em; font-weight: bold;">위 내용을 확인하고 서약합니다.</label>
    </div>
</div>