<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="images/schoolNameLogo.png" height="35" />
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> 홈
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Entrance/Index">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> 입학
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Record/Index">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 기록
            </NavLink>
        </div>
    </nav>
</div>